<div class="container-fluid">
	<div class="row">
	
		<div class="col-xs-2 footer-left"></div>
		<div class="col-xs-8">
			<h2 id="total">{{total}}</h2>
		</div>
		<div class="col-xs-2 footer-right"></div>
	
	</div>
</div>

