<div class="row">
	<div class="col-xs-1 left-dates"></div>
	<div class="col-xs-4 left-group"></div>
	<div class="col-xs-2 bank"></div>
	<div class="col-xs-4 right-group"></div>
	<div class="col-xs-1 right-info"></div>
</div>
