<h1>{{title}}</h1>

<div class="search">
	<form>
		<input id="q" type="text" placeholder="Drag image, or paste link..." />
		<input id="more" type="button" class="btn" value="&#xf359;" />
		<input id="submit" type="submit" class="btn" value="Match" />
	</form>
</div>

<!--<info>
We real-time match your image with <strong>millions</strong> of adult performing girls!
</info>-->
<info>
	We real-time match your image with <strong>millions</strong> of other strings!
</info>